<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex flex-col items-center mt-72 w-full h-full font-serif">
    <div class="text-3xl block">Thank for shopping with us</div>
    <a href="/api/v1/site" class="text-lg ml-[400px] mt-5 block">Continue Shopping</button></a>

  </body>
</html>
